.app {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.map {
  padding-left: 100px;

  width: 70%; /* Increase this value to move the Prompt component to the left */
}

.prompt {
  padding-top: 120px;
  width: 40%; /* Decrease this value to move the Prompt component to the left */
}
